:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.coming_soon_hero_section {
  height: 100vh;
  background-image: var(--image-732f3faa);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: relative;
}

.coming_soon_container {
  max-width: 1200px;
}

.cs_header {
  color: var(--white);
  margin-top: 10px;
  font-family: Bebas Neue, sans-serif;
  font-size: 128px;
  font-weight: 400;
  line-height: 153.6px;
}

.cs_hero_wrap {
  width: 80%;
  position: relative;
}

.cs_hero_style_txt {
  color: #ff2915;
  margin-top: 10px;
  font-family: Fasthand, sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 100.8px;
  position: absolute;
  top: -8%;
  bottom: auto;
  left: -8%;
  right: auto;
  transform: rotate(-9deg);
}

.text-span {
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
}

.xike_logo {
  width: 290px;
  height: 290px;
  position: absolute;
  top: 3%;
  bottom: auto;
  left: auto;
  right: 3%;
}

.girl_image {
  width: 300px;
  height: 410px;
  object-fit: cover;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.xike_button {
  width: 230px;
  height: 75px;
  color: var(--white);
  text-transform: uppercase;
  background-color: #ff2915;
  justify-content: center;
  align-items: center;
  font-family: Bebas Neue, sans-serif;
  font-size: 50px;
  line-height: 60px;
  transition: color .4s cubic-bezier(.25, .46, .45, .94), border-color .4s cubic-bezier(.25, .46, .45, .94), background-color .4s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.xike_button:hover {
  background-color: var(--white);
  color: #ff2915;
  border: 2px solid #ff2915;
}

.xike {
  z-index: 100;
  position: relative;
}

.style_txt {
  background-image: var(--image-62ec0c4f);
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 991px) {
  .coming_soon_hero_section {
    margin-left: auto;
    margin-right: auto;
  }

  .coming_soon_container {
    width: auto;
    max-width: none;
    padding-left: 16px;
    padding-right: 16px;
  }

  .cs_header {
    font-size: 80px;
    line-height: 104px;
  }

  .cs_hero_style_txt {
    font-size: 45px;
    line-height: 58.5px;
    top: -8%;
    left: -2%;
  }

  .text-span {
    background-image: none;
    background-repeat: repeat;
    background-size: auto;
  }

  .xike_logo {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .girl_image {
    width: 240px;
    height: 300px;
    object-fit: cover;
  }

  .xike_button {
    width: 200px;
    height: 60px;
    font-size: 31px;
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .coming_soon_container {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .cs_header {
    text-align: center;
    font-size: 50px;
    line-height: 70px;
  }

  .cs_hero_wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .cs_hero_style_txt {
    font-size: 35px;
    line-height: 45.5px;
    top: -8%;
    left: -1%;
  }

  .xike_logo {
    width: 130px;
    height: 130px;
    object-fit: cover;
  }

  .girl_image {
    width: 200px;
    height: 260px;
    object-fit: cover;
  }

  .xike_button {
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 479px) {
  .coming_soon_container {
    margin-bottom: 0;
  }

  .cs_header {
    font-size: 40px;
    line-height: 54px;
  }

  .cs_hero_style_txt {
    font-size: 25px;
    line-height: 33px;
    top: -7%;
    left: -7%;
  }

  .xike_logo {
    width: 80px;
    height: 80px;
  }

  .girl_image {
    width: 180px;
    height: 240px;
  }

  .xike_button {
    width: 150px;
    height: 45px;
    letter-spacing: 1px;
    font-size: 16px;
  }
}


