:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.coming_soon_hero_section {
  height: 100vh;
  background-color: #000;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
  display: flex;
  position: relative;
}

.coming_soon_container {
  max-width: 1200px;
}

.cs_header {
  color: var(--white);
  margin-top: 10px;
  font-family: Bebas Neue, sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 91px;
}

.cs_hero_wrap {
  width: 80%;
  position: relative;
}

.cs_hero_style_txt {
  color: #ff2915;
  margin-top: 10px;
  font-family: Space Grotesk, sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 70px;
  position: absolute;
  top: -13%;
  bottom: auto;
  left: 0%;
  right: auto;
  transform: none;
}

.text-span {
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
}

.xike_logo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  position: absolute;
  top: 3%;
  bottom: auto;
  left: auto;
  right: 3%;
}

.girl_image {
  width: auto;
  height: 340px;
  object-fit: cover;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.xike_button {
  width: 230px;
  height: 75px;
  color: var(--white);
  text-transform: uppercase;
  background-color: #ff2915;
  justify-content: center;
  align-items: center;
  font-family: Bebas Neue, sans-serif;
  font-size: 40px;
  line-height: 50px;
  transition: color .4s cubic-bezier(.25, .46, .45, .94), border-color .4s cubic-bezier(.25, .46, .45, .94), background-color .4s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.xike_button:hover {
  background-color: var(--white);
  color: #ff2915;
  border: 2px solid #ff2915;
}

.xike {
  z-index: 100;
  position: relative;
}

.style_txt {
  background-image: var(--image-62ec0c4f);
  background-position: 0 88%;
  background-repeat: no-repeat;
  background-size: contain;
}

.xike_logo_mobile {
  width: 290px;
  height: 290px;
  position: absolute;
  top: 3%;
  bottom: auto;
  left: auto;
  right: 3%;
}

.div_xiki_logo {
  display: none;
}

.xike_logo_mobile_landscape {
  width: 290px;
  height: 290px;
  position: absolute;
  top: 3%;
  bottom: auto;
  left: auto;
  right: 3%;
}

.div-block {
  width: 100vw;
  overflow: hidden;
}

.cs_hero_style_txt_mobile {
  color: #ff2915;
  margin-top: 10px;
  font-family: Space Grotesk, sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 100.8px;
  display: none;
  position: absolute;
  top: -14%;
  bottom: auto;
  left: 0%;
  right: auto;
  transform: none;
}

@media screen and (min-width: 1280px) {
  .cs_header {
    font-size: 82px;
    line-height: 106.6px;
  }

  .xike_logo {
    width: 240px;
    height: 240px;
  }

  .girl_image {
    height: 380px;
  }

  .xike_button {
    font-size: 45px;
    line-height: 55px;
  }
}

@media screen and (max-width: 991px) {
  .coming_soon_hero_section {
    margin-left: auto;
    margin-right: auto;
  }

  .coming_soon_container {
    width: auto;
    max-width: none;
    padding-left: 16px;
    padding-right: 16px;
  }

  .cs_header {
    font-size: 48px;
    line-height: 68px;
  }

  .cs_hero_style_txt {
    font-size: 35px;
    line-height: 42px;
    top: -12%;
  }

  .text-span {
    background-image: none;
    background-repeat: repeat;
    background-size: auto;
  }

  .xike_logo {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .girl_image {
    width: auto;
    height: 300px;
    object-fit: cover;
  }

  .xike_button {
    width: 200px;
    height: 60px;
    font-size: 31px;
    line-height: 40px;
  }

  .xike_logo_mobile, .xike_logo_mobile_landscape {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .cs_hero_style_txt_mobile {
    font-size: 45px;
    line-height: 58.5px;
    top: -14%;
    left: -1%;
  }
}

@media screen and (max-width: 767px) {
  .coming_soon_hero_section {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .coming_soon_container {
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .cs_header {
    text-align: center;
    font-size: 34px;
    line-height: 48px;
  }

  .cs_hero_wrap {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    display: flex;
  }

  .cs_hero_style_txt {
    font-size: 30px;
    line-height: 39px;
    top: -14%;
    left: auto;
  }

  .xike_logo {
    width: 130px;
    height: 130px;
    object-fit: cover;
    display: none;
  }

  .girl_image {
    width: auto;
    height: 260px;
    object-fit: cover;
    position: static;
  }

  .xike_button {
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 30px;
  }

  .xike_logo_mobile {
    width: 110px;
    height: 110px;
    object-fit: cover;
    position: static;
  }

  .div_xiki_logo {
    display: block;
  }

  .xike_logo_mobile_landscape {
    width: 130px;
    height: 130px;
    object-fit: cover;
    position: relative;
  }

  .cs_hero_style_txt_mobile {
    font-size: 35px;
    line-height: 45.5px;
    top: -12%;
    left: auto;
  }
}

@media screen and (max-width: 479px) {
  .coming_soon_hero_section {
    flex-direction: column;
    justify-content: space-around;
  }

  .coming_soon_container {
    margin-bottom: 0;
  }

  .cs_header {
    margin-top: 0;
    font-size: 28px;
    line-height: 36px;
  }

  .cs_hero_wrap {
    width: 100%;
    margin-bottom: 0;
  }

  .cs_hero_style_txt {
    text-align: left;
    font-family: Space Grotesk, sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
    display: none;
    position: static;
    top: -16%;
    left: auto;
    transform: none;
  }

  .xike_logo {
    width: 80px;
    height: 80px;
    display: none;
  }

  .girl_image {
    width: auto;
    height: auto;
    position: static;
  }

  .xike_button {
    width: 150px;
    height: 45px;
    letter-spacing: 1px;
    font-size: 16px;
  }

  .xike_logo_mobile {
    width: 100px;
    height: 100px;
    position: static;
  }

  .xike_logo_mobile_landscape {
    width: 80px;
    height: 80px;
    display: none;
  }

  .cs_hero_style_txt_mobile {
    text-align: left;
    margin-bottom: 0;
    font-family: Space Grotesk, sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    display: block;
    position: static;
    top: -16%;
    left: auto;
    transform: none;
  }
}


